/* Custom css for NAVBAR */
.navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 36px;
    line-height: 20px;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 500px;
}

@media (max-width: 767px) {
    .navbar-inverse {
        background: url(../images/bg_menu_1.jpg) repeat-x left top, url(../images/bg_menu_2.jpg) repeat-y;
        border-color: #8D826E;
        /*background-color: #8CC152;
        border-color: #8CC152;*/
        color: #333;
    }
    .navbar-inverse .navbar-brand, .navbar-inverse .navbar-link, .navbar-inverse .btn-link {
        color: #fff; /*8c8c8c;*/
    }
    .navbar-inverse .navbar-toggle {
        background-color: transparent;
        border-color: transparent;
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #AEA698; /*5B8930;*/
        border-color: #AEA698; /*5B8930;*/
    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #AEA698; /*A0D468;*/
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        color: white;
        /*background-color: #A0D468;*/
        background-color: rgba(255, 255, 255, 0.15) !important;
        /*background-color: transparent;*/
    }

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        /*background-color: #A0D468;*/
        background-color: rgba(255, 255, 255, 0.15) !important;
        /*background-color: transparent;*/
    }
}



/* Custom css for CONTAINER */
.container {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 920px;
    }
}
