.site-title {
    clear: both;
    float: none;
    margin: 30px auto 50px;
}

.site-title a {
    display: block;
    width: 77px;
    height:83px;
    background: url("../images/sushitime-logo-2x.png") repeat scroll 0% 0% / contain transparent;
    /*text-indent: -800px;*/
    overflow: hidden;
    margin: 0 auto 13px;
    padding: 0;
}
.site-title label {
    width: 100%;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    margin: 0;
}
